<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" href="./static/assets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%if session.username%}

<div class="container">
  <div class="col">
  <div class="row-6">
    <nav class="navbar navbar-expand-sm navbar-light"><p>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Kirjaudu ulos</a>
        </li>
      </ul>
    </nav>

  <img src="/static/hearts.png" style="width: auto; height: 150px;" id="hearts">

</div>


<div class="header">
    <h2>Instagrammable Helsinki</h2>
</div>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>


<div class='row-6'>
<div id="map" style="height: 500px;"></div>
</div>

<script type = "module">
    import {setUp, addPoint} from "./static/map.js"
    const map = setUp()
    const button = document.getElementById('addButton')
    button.addEventListener('click', addPoint)

</script>


<div id="pointForm" class='form' style ="display: none">
    <form>
    <p>Kohteen nimi:</p>
    <input type = "text" name="name" id="name"><br>
    <br>
    <p>Kohteen kuvaus:</p>
    <textarea name="message" id="description"></textarea>
    <br>
    <br>
    <button id = "addButton" >Lisää uusi kohde</button>
    </form>
</div>

{%else%}

<div class="container">
  <div class="row">
  <div class="col-6">

<div class ="header">
    <h2>Kirjaudu sisään</h2>
</div>


<div id="loginForm" class='form'>
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type ="text" name ="username"></p>
    <p>Salasana:</br>
    <input type="password" name="password"><br>
    <input type="submit" value="Kirjaudu">
    <br>
    {{message}}
    </form>
</div>
</div>
<div class='col-6'>

  <nav class="navbar navbar-expand-sm navbar-light"><p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/new_user">Rekisteröidy</a>
      </li>
    </ul>
  </nav>
  <img src="/static/hearts.png">
</div>

</body>
</html>
{%endif%}
</div>