<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" href="./static/assets/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container">
  <div class="row">
  <div class="col-6">

<div class ="header">
    <h2>Rekisteröidy</h2>
</div>

<div id="loginForm" class='form'>
    <form action="/create_user" method="POST">
        Tunnus: <br>
        <input type="username" name="username"><br>
        Salasana:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Luo uusi käyttäjä">
    </form>
</div>

{%if request.args.get('error')%}

<div id="error_message">
{{request.args.get('error')}}
</div>

{%endif%}

</div>
<div class='col-6'>

  <nav class="navbar navbar-expand-sm navbar-light"><p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Etusivulle</a>
      </li>
    </ul>
  </nav>
  <img src="/static/hearts.png">
</div>

</body>
</html>
</div>

  
  