{%for p in point%}

<h1>{{p.title}}</h1> 

<img src="/get_image/{{id}}" alt="img" style="width: 500px; height: auto;"/>


<form action="/send" method="POST" enctype="multipart/form-data">
    File: <input type="file" name="file">
    <input type="submit" value="Lähetä kuva">
</form>
    

<script type = "module">

    function delete_point () {
        fetch("/delete_point", {
        method:"DELETE"
    })
    .then(response => 
        window.location.href = "/")
        .catch(error => {
            console.log(error)
        })
    }

    const delete_button = document.getElementById('delete')
    delete_button.addEventListener("click", delete_point)

</script>
<br>
<br>

{{p.description}}
<br>
<br>

<form action="/like" method="POST">
    Tykkäykset: {{like_count}}
    <input type="submit" value="Tykkää">
</form>

{%endfor%}
<h2>Kommentit</h2>
<hr>
{% for message in msg %}
{{message.content}}
<hr>
{%endfor%}
{{new}}

<form action="/send_message" method="POST">
    <p>Kirjoita kommentti:</p>
    <textarea name="message"></textarea>
    <br>
    <br>
    <input type="submit" value="Lähetä">
</form>

<button id="delete">Poista kohde</button>